{% extends '_layouts/base.njk' %}
{% block page_title %}{{ member.name }}{% endblock %}
{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <img class= "img-fluid" src= "img/members/{{ member.image }}"> 
    </div>
    <div class="col-sm-8">
      <h2>{{ member.name }}</h2>
      <h5>{{ member.instruments }}</h5>
      <h5>{{ member.tenure }}</h5>
      <h5>{{ member.birthplace}}</h5>
      <h5>{{ member.birthdate }}</h5>
      <p>{{ member.text | safe }}</p>

    </div>
  </div>
</article>
{% endblock %}
