.jumbotron.banner {
  background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
  height: 600px;
  background-size: cover;
  color: white;
  padding-top: 12rem;
}

.jumbotron {
  margin-bottom: 30px;
}

.jumbotitle {
  font-family: 'Baskervville', serif;
  padding-bottom: 10rem;
  padding-top: .1rem;
  font-size: 100px
}

.jumbocaption {
  font-family:'Baskervville', serif;
  padding-bottom: 5rem;
  padding-top: 1rem;
  font-size: 25px;
}